
.ocean-background{
    //-fx-background-color: linear-gradient(#16627e, white);
    -fx-background-color: #1F2041; //#3A4E48; //#010001; //#531CB3; //#464D77
}
.dark-background{
    -fx-background-color: #222222;
}
.border-bottom{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white;
}
.bottom{
    -fx-background-color: #4B3F72; //#6A7B76; //#BC5F04;  //#944BBB; // #36827F; // #16627e
    -fx-background-radius: 50;
    -fx-text-fill: white;
}
.gradient{
    -fx-background-color: linear-gradient(to top, #222222, transparent);
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 10);
}

.middleocean-background{
    -fx-background-color: #417B5A; //#BEB0A7; //#2B0504; //#CC92C2; //#F9DB6D; //#F6AE2D
}
.text-background{
    -fx-text-fill: white;
}

.text-background-profile {
    -fx-text-fill: white;
    -fx-font-size: 26px; /* Aggiunto 'px' per specificare la grandezza del font */
    -fx-font-family: "Calibri", sans-serif; /* Aggiunto i doppi apici per il nome del font */
}

.calendar-background{
    -fx-background-color: #850a36;
}
/* Stile del testo */
.text-stylish {
    font-family: impact;
    -fx-text-fill: white;
    //-fx-effect: dropshadow(gaussian, orange, 10, 0, 0, 0);
}

/* Sfondo opaco */
.background-opaque {
    background-color: #ecf0f1; /* Colore di sfondo */
    padding: 10px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
}

.arrotondamento{
    -fx-background-radius: 17;
}

.image-view-rounded {
    -fx-background-radius: 50%;
}

.bottom-square{
    -fx-background-color: #417B5A; // ; //#BC5F04;  //#944BBB; // #36827F; // #16627e

    -fx-text-fill: white;
}
.firstSceneSfondo{
//-fx-background-color: linear-gradient(#16627e, white);
    -fx-background-color: #231239;
}

