.ocean-background{
    -fx-background-color: #174f64;
}
.dark-background{
    -fx-background-color: #222222;
}
.border-bottom{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white;
}
.bottom{
    -fx-background-color: #16627e;
    -fx-background-radius: 50;
}